name: CI

on:
  push:
    branches: [ main ]
  pull_request: {}

jobs:

  check:
    runs-on: ubuntu-latest
    name: Check w/ ${{ matrix.deno-version }}
    strategy:
      matrix:
        deno-version:
        - v1.40
        - canary
      fail-fast: false # run each branch to completion

    steps:
    - name: Checkout source
      uses: actions/checkout@v2

    - name: Use Deno ${{ matrix.deno-version }}
      uses: denoland/setup-deno@v1
      with:
        deno-version: ${{ matrix.deno-version }}

    # "file" cache: code from source control
    # We're more selective here to prevent cross-branch contamination
    - name: Cache file://
      uses: actions/cache@v4
      with:
        path: ~/.cache/deno/gen/file
        key: deno/${{ matrix.deno-version }}-file/v1-${{ github.ref }}-${{ github.sha }}
        restore-keys: deno/${{ matrix.deno-version }}-file/v1-${{ github.ref }}-

    # "https" cache: code from the Internet
    # External sources won't change much so we use less precise keys
    - name: Cache https://
      uses: actions/cache@v4
      with:
        path: ~/.cache/deno/deps/https
        key: deno-https/v1-${{ github.sha }}
        restore-keys: deno-https/v1-

    - name: Check all modules
      run: time deno check --unstable **/*.ts

  publish:
    runs-on: ubuntu-latest
    needs: check
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    name: Upload modules
    permissions:
      contents: write

    steps:
    - name: Checkout source
      uses: actions/checkout@v2

    - name: Use Deno v1.40
      uses: denoland/setup-deno@v1
      with:
        deno-version: v1.40

    # "https" cache: code from the Internet
    # External sources won't change much so we use less precise keys
    - name: Cache https://
      uses: actions/cache@v4
      with:
        path: ~/.cache/deno/deps/https
        key: deno-https/v1-${{ github.sha }}
        restore-keys: deno-https/v1-

    - name: Publish to crux.land
      run: time ./tools/crux-publish.ts . --update-readme

    - uses: EndBug/add-and-commit@v7
      with:
        add: README.md
        default_author: github_actions
        message: "Update crux.land URLs in README.md"
